name: foreground_service_isolate
description: "A new Flutter plugin project."
version: 0.0.1
homepage:
environment:
  sdk: ^3.10.7
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  rexios_lints: ^17.0.3

flutter:
  plugin:
    platforms:
      android:
        package: com.iodesignteam.foreground_service_isolate
        pluginClass: ForegroundServiceIsolatePlugin
